
  img {
      margin: 40px 0px 0px 0px;
      border: 7px;
      border-radius: 30px;
      border-color: white;
    }
 body {
 	background-color: aliceblue;
 	text-align: center;
 	font-family: 'Shadows Into Light'
 }



